<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OMDB Search</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css">
  </head>
  <body>
    <header>
      <h1>OMDB Search</h1>
    </header>
    <main>
      <form>
        <label for="search">Search OMDB</label>
        <input id="searchBox" type="text" name="search" value="" placeholder="Enter a search term...">
        <button id="searchButton" type="submit" name="searchButton">Search</button>
      </form>
      <section class="movies">
        <!-- Append movies here -->
      </section>
    </main>
    <script id="movie-template" type="text/x-handlebars-template">
      <div>
        <h2>{{Title}}</h2>
        <h3>{{Year}}</h3>
        <img src="{{Poster}}">
      </div>
      <hr />
    </script>
    <script id="movies-template" type="text/x-handlebars-template">
      {{#each Search}}
      <div>
        <h2>{{Title}}</h2>
        <h3>{{Year}}</h3>
        <img src="{{Poster}}">
      </div>
      <hr />
      {{/each}}
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
